.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NftContaineur {
  width: 100vw;
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: center
}

.NftCard {
  width: 450px;
  height: 400px;
  background-color: white;
  border: solid 2px black;
  margin: 20px;
  border-radius: 10px;
  justify-content: center;
  position: relative;
}

.NftCardEmpty {
  width: 450px;
  height: 400px;
  background-color: rgb(78, 77, 77);
  border: solid 2px black;
  margin: 20px;
  border-radius: 10px;
  position: relative;
}

.PetName {
  text-align: center;
}

.PetLevel {
  text-align: center;
}

.FeedPet {
  position:absolute;
  width: 40%;
  height: 40px;
  bottom: 0;
  margin: 10px;
  left: 28%;
  background-color: red;
  border: solid 2px black;
  color: white;
  font-size: x-large;
  border-radius: 50px;
}